{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and Javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <div class="page-header">
            <h2>Sign up</h2>
        </div>


        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <input type="submit" value="Registrar" class="btn btn-primary"/>
            <a href="{% url 'images:index' %}" class="btn btn-primary">Cancelar</a>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>