{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and Javascript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Información de la especie</title>
</head>
<body class="jumbotron">
<table width="100%">
    <tr>
        <th>
            <img class ="img-responsive" style="margin: auto;" src="/{{specie.imageFile}}"/>
        </th>
        <th>
            <h1>{{specie.name}}</h1>
            <table class="table">
                <tr>
                    <th>Clasificación taxonómica:</th>
                    <th>{{specie.taxonomic_classification}}</th>
                </tr>
                <tr>
                    <th>Nombre cientifico:</th>
                    <th>{{specie.scientificName}}</th>
                </tr>
                <tr>
                    <th>Categoría: </th>
                    <th> {{specie.category.name}}s</th>
                </tr>
            </table>
        </th>
    </tr>
</table>

<p class="lead" align="justify"   style="margin: 20px 20px 20px 20px;">{{specie.description}} </p>
<section>
<h3>Comentarios</h3>
{% for comment in specie.comments.all %}
<div class="col-md-4 col-sm-6 col-lg-3 well" style="width:100%">
    {{comment.description}}
</div>
{% endfor %}
<form action="{%url 'images:addComment' id_specie=specie.pk %}" method="GET">
    <textarea rows="10" cols="100" style="margin: 20px 20px 20px 20px;" name="comment" placeholder="Agregue su comentario"></textarea>
    <input type="text" value="{{specie.pk}}"  name="id" style="display:none"/>
    {% buttons %}
        <input type="submit" value="Agregar comentario" class="btn btn-primary btn-lg" style="margin: 20px;"/>
    {% endbuttons %}
</form>
</section>

{% buttons %}
    <a href="{% url 'images:index' %}" class="btn btn-primary btn-lg" style="   margin: 20px;">Regresar</a>
{% endbuttons %}
</body>
</html>
